/* Styling the slider track */
.jfx-slider > .track {
     -fx-background-color: null;
     -fx-control-inner-background: green;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: lightblue;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: gray;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: transparent;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}