
.animated-option-button {
    -fx-pref-width:75px;
    -fx-background-color:#44B449;
    -fx-background-radius:50px;
    -fx-pref-height:50px;
    -fx-text-fill:white;


}

.animated-option-sub-button {
        -fx-background-color: #43609C
}
.animated-option-sub-buttontwo{
    -fx-background-color: rgb(203,104,96);
}
.animated-option-sub-button3{
    -fx-background-color: #3a9b4b;
}

